<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/todolist.js" defer="defer"></script>
    <title>Document</title>
</head>
<body>
    To DO List 
    <input id = "id" type="text" placeholder=""/>
    <p id="button">➕</p id="button">
    <div id = "newBoxId"></div>
</body>
</html> 